* {
    border-radius: 14;
    border-width: 0;
    font-family: "Ubuntu";
    font-size: 14px;
    font-weight: bold;
    color: #B5E8E0;
    margin: 0px 5px 0px 5px;
    padding: 1px 5px 1px 5px;
    text-shadow: 3px 3px 2px rgb(22, 22, 22);
}

.mainbar {
    border-width: 1;
    border-color: #ffffff;
    border: solid;
    background: rgba(0, 0, 0, 0.1);
}

.power_btn {
    font-size: 15px;
    transition: none;
    background: #680808;
    padding-left: 5px;
    padding-right: 5px;
}

.cpu {
    transition: none;
    background: #0a4809;
}

.tray {
    background: #8d6012;
}

.memory {
    background: #0a5f32;
}

.network {
    background: #0a5b54;
}

.disk {
    background: #2d4409;
}

.temperature_gpu {
    background: #827215;
}

.temperature_cpu {
    background: #444f0e;
}

.clock {
    background: #0c1b77;
}

.wallpaper_btn {
    background: #09445a;
}

.window {
    background: #210854;
}

.pulseaudio {
    background: #8a3d10;
}

.workspace {
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background: #46095a;
}

.active_workspace {
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background: #686396;
}

.workspaces {
    padding-left: 0px;
    padding-right: 0px;
    background: #2d0b38;
}

.workspace_windows {
    border-radius: 7;
    font-size: 10px;
    min-height: 1px;
    font-weight: bold;
    opacity: 1;
    color: #B5E8E0;
    margin: 0px 0px 8px 25px;
    background: rgba(0, 0, 0, 0.5)
}

.powermenu {
    border-width: 2;
    border-color: #ffffff;
    border: solid;
    background: rgba(0, 0, 0, 0.3);
}

.powermenu_hibernate {
    border-width: 0;
    background: #4b2121;
    color: #f8f8f8;
    border-radius: 30;
}

.powermenu_turnoff {
    border-width: 0;
    background: #46401f;
    color: #f8f8f8;
    border-radius: 30;
}

.powermenu_reboot {
    border-width: 0;
    background: #214b27;
    color: #f8f8f8;
    border-radius: 30;
}

.powermenu_logout {
    border-width: 0;
    background: #222a4d;
    color: #f8f8f8;
    border-radius: 30;
}

.powermenu_exit {
    border-width: 0;
    background: #272727;
    color: #f8f8f8;
    border-radius: 30;
}
